// ------------------------------
// Prop Template: CSS > Editor
// ------------------------------

body.edit-mode {

    // Ecommerce Bar
    // ------------------------------

    .ecommerce-bar {
        z-index: 8001;
    }

    // Search Overlay Toggle
    // ------------------------------

    .ecommerce-bar .template-search .search-toggle {
        cursor: default;
    }

    .ecommerce-bar .template-search .search-toggle:hover {
        box-shadow: none;
        color: inherit;
    }

    // Navigation
    // ------------------------------

    .widget[data-widget-type="extendednavigation"] {
        .widget-overlay {
            @media @tablet {
                position: fixed !important;
                top: 0 !important;
                right: 0 !important;
                width: 7% !important;
                height: 47px !important;
                bottom: auto !important;
                left: auto !important;
                z-index: 99999 !important;
            }
            @media @mobile {
                width: 12px!important
            }
        }
    }

    .navigation-toggle:hover {
        background-color: @color__primary;
        box-shadow: none;
    }
}

